@model WebApplication.Models.PasswordResetModel
@{
    ViewData["Title"] = "Reset your password";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Mockups" asp-action="PasswordReset" method="post">

    <div class="form-group">
        <label>Email</label>
        <input asp-for="@Model.Email" type="email" class="form-control">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Отправить код</button>
    <a asp-action="VerifyPasswordReset" class="btn btn-secondary">У меня уже есть код</a>
</form>
