@model WebApplication.Models.VerifyPasswordResetModel
@{
    ViewData["Title"] = "Reset your password";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Mockups" asp-action="VerifyPasswordReset" method="post">
    <div class="form-group">
        <label>Код</label>
        <input asp-for="@Model.Code" type="text" class="form-control">
        <span asp-validation-for="@Model.Code" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>
