@model WebApplication.Models.CalcModel
@{
    ViewData["Title"] = "Model Separate";
}

<form asp-controller="Calc" asp-action="ModelSeparate" method="post">
    <div class="form-row">
        <div class="form-group col-md-5">
            <input asp-for="@Model.First" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <select asp-for="@Model.Operation" class="form-control">
                <option selected value="0">+</option>
                <option value="1">-</option>
                <option value="2">*</option>
                <option value="3">/</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <input asp-for="@Model.Second" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Посчитать</button>
</form>
