@{
    ViewData["Title"] = "Home Page";
}

<h1>Form parameters parsing demo</h1>

<div class="list-group">
    <a asp-controller="Calc" asp-action="ManualSingle" class="list-group-item list-group-item-action">
        Manual parsing in single action
    </a>
    <a asp-controller="Calc" asp-action="ManualSeparate" class="list-group-item list-group-item-action">
        Manual parsing in separate actions
    </a>
    <a asp-controller="Calc" asp-action="ModelParameters" class="list-group-item list-group-item-action">
        Model binding (parameters)
    </a>
    <a asp-controller="Calc" asp-action="ModelSeparate" class="list-group-item list-group-item-action">
        Model binding (separate model)
    </a>
</div>
