@{
    ViewData["Title"] = "Home Page";
}

<h1>Cacl Servise</h1>

<div class="list-group">
    <a asp-controller="CalcService" asp-action="PassUsingModel" class="list-group-item list-group-item-action">
        Using Model Calc
    </a>
    <a asp-controller="CalcService" asp-action="PassUsingViewData" class="list-group-item list-group-item-action">
        Using ViewData Calc
    </a>
    <a asp-controller="CalcService" asp-action="PassUsingViewBag" class="list-group-item list-group-item-action">
        Using ViewBag Calc
    </a>
    <a asp-controller="CalcService" asp-action="AccessServiceDirectly" class="list-group-item list-group-item-action">
        Using Service Injection Calc
    </a>
</div>
