@model WebApplication.Models.QuizQuestion
@{
    ViewData["Title"] = "Game";
}

<form method="post" asp-action="Game">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">@Model.Question</label>
        <div class="col-sm-10">
            <input type="number" asp-for="@Model.UserAnswer" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-secondary">Следующий вопрос</button>
    <a asp-action="Result" class="btn btn-primary">Закончить</a>
</form>
