@{
    ViewData["Title"] = "Controls Page";
}

<h1>@ViewData["Title"]</h1>

<div class="list-group">
    <a asp-controller="Controls" asp-action="TextBox" class="list-group-item list-group-item-action">
        TextBox
    </a>
    <a asp-controller="Controls" asp-action="TextArea" class="list-group-item list-group-item-action">
        TextArea
    </a>
    <a asp-controller="Controls" asp-action="CheckBox" class="list-group-item list-group-item-action">
        CheckBox
    </a>
    <a asp-controller="Controls" asp-action="Radio" class="list-group-item list-group-item-action">
        Radio
    </a>
    <a asp-controller="Controls" asp-action="DropDownList" class="list-group-item list-group-item-action">
        DropDownList
    </a>
    <a asp-controller="Controls" asp-action="ListBox" class="list-group-item list-group-item-action">
        ListBox
    </a>
</div>
